@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: "Montserrat", sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      color: #313131;
      letter-spacing: .5px;
}
#logo {
    max-width: 18rem;  
    padding: .5rem;
    margin: 0;
}
.contact-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding:.5rem;
    margin: 0;  
}

.titulos{
      letter-spacing: -2px;
}

.navbar{
    padding: 1 5rem;
}
.container-fluid {
    overflow: hidden;
}

.gradient-text {
    background: linear-gradient(to right, #52b14f, #8ac34e);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.boton-categorias {
    background: linear-gradient(to right, #0daf09, #88c449); 
    border: none;
    border-radius: 30px; 
    padding: 15px 30px; 
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.boton-categorias:hover {
    background: linear-gradient(to right, #88c449, #0daf09); 
    transform: scale(1.05);
}

.boton-carne-inicio{ 
    border: none;
    border-radius: 30px; 
    padding: 10px 30px; 
    text-align: center;
    text-decoration: none;
}

.container-fluid {
    position: relative;
    z-index: 1;
}

.contenedor-imagenes {
    position: relative; 
}

.fondo-verde {
    background-image: url('../img/fondo-citycarne.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
}

.div-text-banner{
padding-top: 0;
  height: auto; 
  vertical-align: top;
}

.seccion-carnes-card{
    padding: 25px 50px;
}

.nuestros-productos {
    padding: 35px;
}

.imagen-carne {
    width: 100%;
}

@media (max-width: 992px) {
    .imagen-carne {
        width: 50%;
    }
}
    
@media (min-width: 992px) {
    .seccion-carnes-card{
        padding: 25px 150px;
    }

    .seccion-carnes {
        padding-left: 200px;
    }

    .seccion-cortes {
        padding-right: 200px;
    }
}

.cara-toro {
    margin-top: -100px;
    width: 25%;
}

@media (max-width: 767px) {
    .cara-toro {
        margin-top: -35px;
        width: 50%;
    }
}

.lista-productos{
    list-style: none;
    padding-left: 0;
}

.lista-productos li {
    margin-bottom: 0.4rem;
}

.seccion-rosa {
    background-color: #ed2083;
    color: #fff;
    height: 100%;
}

.seccion-directamente-granja {
    padding: 80px 30px;
}

figure {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #181818;
    color: #fff;
    padding: 40px 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.footer-logo img {
    max-height: 40px;
    margin-right: 10px;
}

.titulo-footer {
    padding-bottom: 25px;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #262626;
    border-radius: 50%;
    display: inline-block;
}

.texto-footer {
    color: #a4a4a4;
}

.footer-contact i {
    font-size: 1.2rem;
    margin-right: 10px;
}

.footer-contact p {
    margin: 0;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.map-container {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 25px;
    padding-bottom: 56.25%;
}
  
.map-container iframe {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#botonWhatsApp {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 30px;
    width: 50px;
}

@media (max-width: 960px) {
    #botonWhatsApp {
        bottom: 20px;
        width: 44px;
    }
}
